/********************************************************
                    css variable
********************************************************/
@font-face {
    font-family: "Slabo 27px";
    src: url("/fonts/slabo27px-regular.woff");
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/nunito-regular.woff");
}

/********************************************************
                    css variable
********************************************************/

:root {
    --bla: #000;
    --darGra: #444;
    --medGra: #707070;
    --ligGra: #aaa;
    --supLiGra: #f5f5f5;
    --whi: #fff;
    --blu: #2699fb;
    --sla27: 'Slabo 27px', Arial, sans-serif;
    --nuni: 'Nunito', Arial, sans-serif;
}

/* 
css variable worden ondersteund door browser van de afgelopen 3 a 4 jaar, alleen e validator geeft geen custom properties op waardoor dit wordt gegeven als een foutmelding

Voor statistieken over welk browser versie het meest gebruikt word:
https://www.stetic.com/market-share/browser/
*/ 

/********************************************************
                    body
********************************************************/

body {
    margin: 0;
    padding: 0;    
}

h1 {
    font-size: 80pt;
    font-family: var(--sla27);
}

h2 {
    font-size: 63pt;
    font-family: var(--sla27);
}

h3 {
    font-size: 35pt;
    font-weight: bolder;
    font-family: var(--sla27);
}

h4 {
    font-size: 30pt;
    font-weight: 800;
    font-family: var(--sla27);
}

h5 {
    font-size: 25pt;
    font-weight: 100;
    font-family: var(--sla27);
}

h6 {
    font-size: 15pt;
    font-family: var(--sla27);
}

p {
    color: var(--darGra);
    font-family: var(--nuni);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/********************************************************
                    background
********************************************************/

#bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(/img/bg/bg.png) no-repeat;
    background-size: cover;
}


/********************************************************
                    navigation
********************************************************/

#hamMen {
    display: block;
    position: fixed;
    float: left;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
    padding: .4em;
    height: 2em;
    width: 2em;
    align-items: center;
    border-radius: 50%;
} 


#hamMen input {
    display: block;
    width: 2.5em;
    height: 2em;
    position: absolute;
    top: -.4375em;
    left: -.3125em;
    cursor: pointer;
    opacity: 0;
    z-index: 9999; 
}

#hamMen span {
    display: block;
    width: 2.0625em;
    height:.25em;
    margin-bottom: 0.3125em;
    position: relative;
    background: var(--ligGra);
    border-radius: 1em;
    z-index: 9000;
    transform-origin: 0.25em 0;
    transition: transform .5s ease-in-out, background .5s ease-in-out, opacity .5s ease;
}

#hamMen span:first-child {
    transform-origin: 0% 0%;
}

#hamMen span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#hamMen input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-.125em, -.0625em);
    background: var(--darGra);
}

#hamMen input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.1, .1);
}

#hamMen input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -.0625em);
}

#men {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 3em 0 0 0;
    margin: 0;
    background-color: var(--bla);
    opacity: .95;
    list-style:none;
    text-align: center;
    font-family: var(--sla27);
    font-size: 20pt;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0%);
    transition: transform .5s ease-in-out;
}
#hamMen input:checked ~ ul
{
  transform: none;
  
}

#men li:first-child {
    margin-top: 1.25em;
}

#men li {
    margin-bottom: 1.875em;
}

#men li a {
    transition: 1s;
    color: var(--whi);
}
@media screen and (min-width: 0px) and (max-width: 480px) {

    #hamMen {
        top: 1em;
        left: 1em;
    }

    #men {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
      
    #hamMen {
        position: sticky;
        top: 0;
        width: 100%;
        height: 5em;
        padding: 0;
    }

    #hamMen input {
        display: none;
    }

    #hamMen span {
        display: none;
    }
    
    #men {
        position:  relative;
        display: flex;
        top: 0;
        width: 90%;
        height: auto;
        bottom: 20%;
        padding: .5em 5% .5em 5%;
        margin: 0;
        opacity: 1;
        transform: translate(0%, 0%);
        justify-content: space-around;
        font-size: 13pt;
    }

    #men li {
        margin: 0;
        display: inline-block;
    }

    #men li:first-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {
      
    #hamMen {
        position: sticky;
        top: 0;
        width: 100%;
        height: 5em;
        padding: 0;
    }

    #hamMen input {
        display: none;
    }

    #hamMen span {
        display: none;
    }
    
    #men {
        position:  relative;
        display: flex;
        top: 0;
        width: 70%;
        height: auto;
        bottom: 20%;
        padding: .5em 15% .5em 15%;
        margin: 0;
        opacity: 1;
        transform: translate(0%, 0%);
        justify-content: space-around;
    }

    #men li {
        margin: 0;
        display: inline-block;
    }

    #men li:first-child {
        margin-top: 0;
    }
    
    #men li a:hover {
        color: var(--blu);
    }
}





/********************************************************
                    main
********************************************************/

main {
    position: relative;
    display: block;
    width: 100%;
}

#wel {
    position: relative;
    display: block;
    min-height: 75vh;
    padding-top: 25vh;
    color: var(--whi);
    margin-top: 10%;
    margin-left: 1em;
    animation: wel 2s ease-in-out;
}

@keyframes wel {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}


#wel h1 + h2 {
    line-height: 90%;
}

#wel h1 {
    font-weight: bolder;
    line-height: 80%;
}

#wel h2 {
    font-weight: lighter;
}


@media screen and (min-width: 0px) and (max-width: 300px) {

    #wel h1 {
        font-size: 40pt;
    }
    
    #wel h2 {
        font-size: 30pt;
    }
}

@media screen and (min-width: 301px) and (max-width: 480px) {

    #wel h1 {
        font-size: 60pt;
    }
    
    #wel h2 {
        font-size: 40pt;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    
    #wel {
        margin-top: 0;
    }

    #wel h1 {
        margin-top: 0;
        font-size: 8.5em;
    }
    
    #wel h2 {
        font-size: 6em;
        margin-top: 1em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {
    
    #wel {
        margin-top: 0;
    }

    #wel h1 {
        margin-top: 0;
        font-size: 15em;
    }
    
    #wel h2 {
        font-size: 6em;
        margin-top: -1em;
    }
}
/*************************************
                    first content
*************************************/


#mainCont {
    position: relative;
    width: 100%;
    
    display: flex;
    background-color: var(--whi);
    flex-direction: column;
}



#mainCont footer a {
    color: var(--blu);
}

#mainCont .container {
    margin: 0 10% 0 10%;
}

#mainCont footer h6 {
    margin: 1em 0;
}

#mainCont header {
    line-height: 250%;
    margin: 1.5em 10% 0 10%;
}

#mainCont header h3 {
    margin: 0;
}

#mainCont header h4 {
    margin: 1em 0 .2em 0;
}

#mainCont header h5 {
    margin: .4em 0 .2em 0;
}

#mainCont section p:only-of-type {
    font-size: 15pt;
    line-height: 140%;
    font-weight: 500;
    margin-top: 0;
}

.mainAsi {
    display: flex;
}


.mainAsi aside {
    padding:  0;
}

@media screen and (min-width: 0px) and (max-width: 480px) {

    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    
    #mainCont header {
        margin: 1.5em 0 0 0;
    }

    .bodyText {
        margin: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: none;
    }

    #mainCont header {
        margin: 1.5em 0% 0 0%;
    }
    .bodyText {
        margin: 0% 10% 0 10% ;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    #mainCont {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #mainCont .container {
        margin: 0;
    }

    .mainAsi {
        flex: 0 0 50%;
        box-sizing: border-box;
        float: right;
    }
    
    .container {
        flex: 0 0 50%;
        box-sizing: border-box;
        margin: 0;
        float: left; 
    }
    
    .container header {
        margin: 0; 
    }
    
    .bodyText {
        margin: 0% 10% 0 10% ;
    }
}



/*************************************
                    second content
*************************************/

#secCont {
    position: relative;
    width: 100%;
    margin-top: 15em;
    display: flex;
    background-color: var(--whi);
    flex-direction: column;
}



#secCont footer a {
    color: var(--blu);
}

#secCont footer {
    margin: 0 10% 0 10%;
}

#secCont footer h6 {
    margin: 1em 0;
}

#secCont header {
    margin: 0 10% 0 10%;
}

#secCont header:nth-child(1) {
    line-height: 250%;
    margin: 1.5em 10% 0 10%;
}

#secCont header h3 {
    margin: 0;
}
#secCont header h4 {
    margin: 1em 0 .2em 0;
}

#secCont header h5 {
    margin: .4em 0 .2em 0;
}

#secCont section p:only-of-type {
    font-size: 15pt;
    line-height: 140%;
    font-weight: 500;
    margin-top: 0;
}

@media screen and (min-width: 0px) and (max-width: 480px) {

    #secCont .container {
        margin: 0 10% 0 10%;
    }

    #secCont header:nth-child(1) {
        margin: 1.5em 0 0 0;
    }

    #secCont header {
        margin-left: 0;
        margin-right: 0;
    }
    
    #secCont footer {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {

    #secCont {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/*************************************
                    sport content
*************************************/

#sportCont {
    position: relative;
    width: 100%;
    margin-top: 15em;
    display: flex;
    background-color: var(--whi);
    flex-direction: column;
}

#sportCont section {
    margin: 0 10% 0 10%;
}

#sportCont footer a {
    color: var(--blu);
}

#sportCont footer {
    margin: 0 10% 0 10%;
}

#sportCont footer h6 {
    margin: 1em 0;
}

#sportCont header {
    margin: 0 10% 0 10%;
}

#sportCont header {
    line-height: 250%;
    margin: 1.5em 10% 0 10%;
}

#sportCont header h3 {
    margin: 0;
}

#sportCont section p:only-of-type {
    font-size: 15pt;
    line-height: 140%;
    font-weight: 500;
}

.sportItem {
    position: relative;
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    border-radius: .5em;
    margin-top: 4em;
    background-color: var(--whi);
}

.sportText {
    margin: 0 10% 0 10%;
    font-family: var(--nuni);
    font-size: 15pt;
    line-height: 140%;
}

.sportText h5 {
    display: block;
    margin: 0;
}

.overlayCon {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 0 0 .511em .511em;
}

.overlayCon img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.overlayText {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(38,153,251, .5);
}

.overlayText a {
    position: absolute;
    display: flex;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.overlayText a p {
    margin: auto;
    font-size: 20pt;
    color: var(--whi);
    font-family: var(--sla27);
    transition: 1s;
}


@media screen and (min-width: 0px) and (max-width: 480px) {

    
}

@media screen and (min-width: 481px) and (max-width: 1279px) {

    .sportContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .sportItem {
        margin: 2em 0;
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .overlayText a:hover p {
        font-size: 27pt;
    }
    
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {

    .sportContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .sportItem {
        margin: 2em 0;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .overlayText a:hover p {
        font-size: 27pt;
    }
    
}


/*************************************
                    referral content
*************************************/

#refCont {
    position: relative;
    width: 100%;
    margin-top: 15em;
    display: flex;
    background-color: var(--whi);
    flex-direction: column;
}

#refText {
    margin: 1em 10% 0 10%;
}

#refCont .container header {
    line-height: 250%;
    margin: 1.5em 10% 0 10%;
}

#refCont .container header h3 {
    margin: 0;
}
#refCont .container header h4 {
    margin: 1em 0 .2em 0;
}

#refCont .container header h5 {
    margin: .4em 0 .2em 0;
}

#refCont .container section p:only-of-type {
    font-size: 15pt;
    line-height: 140%;
    font-weight: 500;
    margin-top: 0;
}

#overlayConRef {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#overlayConRef img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#overlayTextRef {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(38,153,251, .5);
}

#overlayTextRef a {
    position: absolute;
    display: flex;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#overlayTextRef a p {
    margin: auto;
    font-size: 20pt;
    color: var(--whi);
    font-family: var(--sla27);
    transition: 1s;
}


@media screen and (min-width: 481px) and (max-width: 1279px) {

    #refCont {
        flex-direction: row;
    }
    
    #overlayConRef {
        flex: 0 0 50%;
    }

    #overlayConRef {
        box-sizing: border-box;
        float: right;
    }
    #overlayTextRef a:hover p {
        font-size: 27pt;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {

    #refCont {
        flex-direction: row;
    }
    
    #overlayConRef {
        flex: 0 0 50%;
    }

    #overlayConRef {
        box-sizing: border-box;
        float: right;
    }
    #overlayTextRef a:hover p {
        font-size: 27pt;
    }
}

/*************************************
                    contact content
*************************************/

#conCont {
    position: relative;
    width: 100%;
    margin-top: 15em;
    display: flex;
    background-color: var(--whi);
    flex-direction: column;    
}

#conForm {
    margin: 0 auto;
    width: 100%;
}

#conTit  {
    font-size: 35pt;
    font-weight: bolder;
    font-family: var(--sla27);
}

#conForm fieldset {
    border: none;
    padding: 0;
    margin: 1.5em 10% 0 10%; 
}
#conForm fieldset section:first-child {
    margin-top: 1em;
}

#conForm fieldset section {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

#conForm fieldset section:nth-last-child(1) {
    display: block;
}

#conForm fieldset section input {
    padding: .5em;
    font-size: 14pt;
    border: 1px solid #707070;
}

#conForm fieldset section textarea {
    padding: .5em;
    font-size: 14pt;
    border: 1px solid #707070;
}

#conForm fieldset section label {
    display: block;
    font-family: var(--nuni);
    font-size: 15pt;
    color: var(--darGra);
} 

#conBut button {
    color: var(--whi);
    font-family: var(--sla27);
    font-size: 17pt;
    background-color: var(--blu);
    border: #fff 3px solid;
    padding: .25em .5em .25em .5em;
    transition: ease-in-out .5s;
    box-sizing: content-box;
}

#conBut button:hover {
    color: var(--blu);
    border: #2699fb 3px solid;
    background-color: var(--whi);
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    
    #conForm fieldset {
        margin: 1.5em 10% 4em 10%; 
        padding: 0 5%;
    }

    #conForm fieldset section {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }

    #conForm fieldset section label {
        vertical-align: middle;
        text-align: right;
        width: 12%;
        margin-right: .5em;
    }
    
    #conForm fieldset section input {
        width: 60%;
    }

    #conForm fieldset section textarea {
        vertical-align: top;
        width: 60%;
    }
    
    #conBut button {
        margin-left: 13%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 8000px) {
    
    #conForm fieldset {
        margin: 1.5em 30% 4em 30%; 
        padding: 0 5%;
    }

    #conForm fieldset section {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }

    #conForm fieldset section label {
        vertical-align: middle;
        text-align: right;
        width: 12%;
        margin-right: .5em;
    }
    
    #conForm fieldset section input {
        width: 60%;
    }

    #conForm fieldset section textarea {
        vertical-align: top;
        width: 60%;
    }
    
    #conBut button {
        margin-left: 13%;
    }
}

/*************************************
                    footer content
*************************************/

#footer {
    width: 100%;
    display: flex;
    background: var(--darGra);
    padding: .5em 0;
}

#footer h5 {
    display: block;
    font-size: 13pt;
    margin: 0 auto;
    color: var(--whi);
}


/*************************************
                    cookie content
*************************************/
#cookie {

}

#cookieCon {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4800;
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    font-family: var(--nuni);
    font-size: 13pt;
    color: var(--ligGra);
    line-height: 140%;
    font-weight: 100;
    padding: 1em 10% 3em 10%;
    transform-origin: 0% 0%;
}

#cookieConSec {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    font-family: var(--sla27);
    font-size: 14pt;
    color: #2699fb;
    padding: 0 10% 0 10%;
    margin-bottom: 1em;
    transform-origin: 0% 0%;
}

#cookie input {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
    width: 6em; 
    height: 1.5em;
    margin: 0 0 1em 10%;
    transform-origin: 0% 0%;
}


#cookie input:checked ~  #cookieCon {
    transform: translate(-100%, 0%);
    transition: transform .5s ease-in-out;
}

#cookie input:checked ~ #cookieConSec {
    transform: translate(-100%, 0%);
    transition: transform .5s ease-in-out;
}

#cookie input:checked  {
    transform: translate(-150%, 0%);
    transition: transform .5s ease-in-out;
}